<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>IDS API</title>
<style>
            div{    font-family: Arial;
                    font-weight: bold;
                    font-size: 1.0em;
                    text-align: left;
                    color: #759E1A;
                    padding: 10px;
                    background-color: #FFF;
                    border: 1px dotted #ccc;
            }
</style>
</head> 
  <body>
<div id='container'>      
  <div id='wrapper'>
    
         {% block header %} {% endblock %}
	 {% block content %} {% endblock %}
         {% block footer %} {% endblock %}  
    
  </div>
</div>    
</body>
</html>




