{% extends 'IDSApiBundle::layout.html.twig' %}

{% block header %}

<div>IDS Api service</div>

{% endblock %}

{% block menu %} {% endblock %}
{% block content %} {% endblock %}

{% block footer %} 
    
<div>IDS Api service</div>

{% endblock %}